
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.cards {
  width: 100%;
}

.img-card{
  width: 300px;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}

.product-info{
  padding: 5px;
}

.product-button{
  margin-top: 50px;
  width: 100%;
}